@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/* CSS Styling */
:root {
    --heading-font: "Overlock", serif;
    --text-font: "Lato", sans-serif;
    --rich-black: #01161E;
    --bg-blue: #003052;
    --link-red: #A50021;
    --parchment: #F1E9D2;
    --cmt-bg: #C3B091;
    --cmt-rpl-bg: #DACDB2;
    --bg-brown: #4B3621;
}

/* General Styles */
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-blue);
    color: var(--parchment);
}

/* Main Content */
main {
    align-items: center;
    text-align: center;
    background-color: var(--bg-blue);
    /* Make main element take up surplus space to push footer down*/
    flex: 1 0 auto;
}

/* Navigation Bar Styles */
.navbar {
    background-color: var(--rich-black);
    color: var(--parchment);
    font: var(--text-font);
}

/* Header & Footer Styling */
.navbar-style, .footer-style {
    background-color: var(--rich-black);
    color: var(--parchment);
    bottom: 0;
}

/* Unselected Navigation Links */
.nav-link {
    color: var(--parchment);
}

.nav-link:hover {
    color: var(--parchment);
    background-color: var(--bg-blue);
}

/* Selected Navigation Links */
.active {
    /* Prevent overwriting by Bootstrap active */
    color: var(--parchment) !important;
    background-color: var(--bg-blue);
}

/* Logo Style */
.logo-title {
    font: var(--heading-font);
    color: var(--parchment);
}

/* Prevent Logo changing colour */
.logo-title:hover {
    font: var(--heading-font);
    color: var(--parchment);
}

/* Stop ul adding space at bottom (Bootstrap default)*/
ul {
    margin-bottom: 0;
}

/* Footer Layout */
#social-networks {
    text-align: center;
    padding: 20px 0 5px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    flex-grow: 1;
    height: 100%;
}

/* Footer Icons */
#social-networks i {
    font-size: 160%;
    color: var(--parchment);
}

/* Footer Copyright Layout */
#copyright-info {
    text-align: left;
    list-style-type: none;
    color: var(--parchment);
}

/* Footer Copyright Text */
#copyright-info p {
    font-family: var(--heading-font);
    font-size: 1.2rem;
    padding-left: 10px;
}

/* Post Cards */
.card {
    border: none;
    background-color: var(--parchment);
}

/* Post Author Styling */
.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: var(--link-red);
}

.author {
    color: var(--parchment);
    margin: 4px;
    text-transform: uppercase;
}

/* Post Title */
.post-link {
    text-decoration: none;
    color: var(--bg-blue);
}

.post-link:hover,
.page-link {
    color: var(--link-red);
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: var(--rich-black);
}

/* Set colour of buttons */
.btn {
    background-color: var(--bg-brown);
    color: var(--parchment);
    border-color: var(--bg-brown);
}

/* Set colour of submit button when hovered over */
.btn:hover {
    background-color: var(--bg-blue);
    color: var(--parchment);
    border-color: var(--bg-blue);
}

/* Register & Post Edit Buttons */
.btn-signup,
.btn-edit {
    background-color: var(--bg-brown);
    color: var(--parchment);
}

.btn-signup:hover,
.btn-signup:active {
    background-color: var(--bg-blue);
    color: var(--parchment);
}

/* Post Interaction Buttons */
.btn-like {
    color: var(--link-red);
    border: none;
    background: transparent;
}

.btn-delete {
    color: var(--parchment);
    background: var(--link-red);
    background-color: var(--link-red);
}

.btn-like:hover,
.btn-like:active {
    color: var(--link-red);
    background: transparent;
    border: none;
}