@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/* CSS Styling */
:root {
    --heading-font: "Overlock", serif;
    --text-font: "Lato", sans-serif;
    --rich-black: #01161E;
    --bg-blue: #003052;
    --link-red: #A50021;
    --parchment: #F1E9D2;
    --cmt-op-bg: #C3B091;
    --cmt-bg: #DACDB2;
    --bg-brown: #4B3621;
}

/* General Styles */
body {
    margin: 0;
    padding: 0;
    /* Ensure body content takes up whole screen height */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Set general website colours */
    background-color: var(--bg-blue);
    color: var(--parchment);
}

/* Main Content */
main {
    align-items: center;
    text-align: center;
    background-color: var(--bg-blue);
    font-family: var(--text-font);
    /* Make main element take up surplus space to push footer down*/
    flex: 1 0 auto;
    /* Add space between main and footer */
    padding-bottom: 1.5rem;
}

/* Navigation Bar Styles */
.navbar {
    background-color: var(--rich-black);
    color: var(--parchment);
    font-family: var(--text-font);
}

/* Header & Footer Styling */
.navbar-style,
.footer-style {
    background-color: var(--rich-black);
    color: var(--parchment);
    bottom: 0;
}

/* Centers Logo in Navbar */
.navbar h4 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

/* Make Toggler more visible */
.navbar-toggler {
    background-color: var(--bg-blue);
}

/* Logo Style */
.logo-title {
    font-family: var(--heading-font);
    color: var(--parchment);
}

/* Prevent Logo changing colour */
.logo-title:hover {
    color: var(--parchment);
}

/* Unselected Navigation Links */
.nav-link {
    font-family: var(--text-font);
    color: var(--parchment);
}

.nav-link:hover {
    color: var(--parchment);
    background-color: var(--bg-blue);
}

/* Selected Navigation Links */
.active {
    /* Prevent overwriting by Bootstrap active */
    color: var(--parchment) !important;
    background-color: var(--bg-blue);
}

/* Stop ul adding space at bottom (Bootstrap default)*/
ul {
    margin-bottom: 0;
}

/* Footer Layout */
#social-networks {
    text-align: center;
    padding: 20px 0 5px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    flex-grow: 1;
    height: 100%;
}

/* Footer Icons */
#social-networks i {
    font-size: 160%;
    color: var(--parchment);
}

/* Footer Copyright Layout */
#copyright-info {
    text-align: left;
    list-style-type: none;
    color: var(--parchment);
}

/* Footer Copyright Text */
#copyright-info p {
    font-family: var(--heading-font);
    font-size: 1.2rem;
    padding-left: 10px;
}

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 70vh;
    background-color: var(--bg-blue);
    background: url('../images/hero-image.webp') no-repeat center center/cover;
}

.hero h1,
.hero h3 {
    position: relative;
    z-index: 2;
    color: var(--rich-black);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: var(--parchment);
}

#overlay {
    position: absolute;
    top: 50%;
    left: 2.5%;
    transform: translateY(-50%);
    color: var(--parchment);
}

/* Post Cards */
.card {
    border: none;
    background-color: var(--parchment);
}

/* Post Author Styling */
.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: var(--link-red);
}

/* Post Container */
.card-body {
    background-color: var(--parchment);
    color: var(--rich-black);
}

.comment-area {
    background-color: var(--bg-blue);
    border: transparent;
    color: var(--parchment);
    text-align: left;
}

.comment-area hr {
    background-color: var(--rich-black);
    color: var(--rich-black);
    border-color: var(--rich-black);
}

.comments {
    background-color: var(--cmt-bg);
    border-radius: var(--bs-border-radius);
    margin-bottom: 2rem;
}

.comment-op {
    background-color: var(--cmt-op-bg);
}

.author {
    color: var(--parchment);
    margin: 4px;
}

/* Post Timestamp */
.card-text {
    background: transparent;
    color: var(--rich-black);
}

/* Post Title */
.post-link {
    text-decoration: none;
    color: var(--bg-blue);
}

.post-link:hover,
.page-link {
    color: var(--link-red);
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: var(--cmt-bg);
}

.posts-row {
    padding-top: calc(var(--bs-gutter-x) * .5);
}

/* Set colour of buttons */
.btn {
    background-color: var(--bg-brown);
    color: var(--parchment);
    border-color: var(--bg-brown);
}

/* Set colour of submit button when hovered over */
.btn:hover,
.btn:active {
    background-color: var(--bg-blue);
    color: var(--parchment);
    border-color: var(--bg-blue);
}

.btn-nav {
    background-color: var(--cmt-bg);
    color: var(--rich-black);
    border-color: var(--cmt-bg);
}

.btn-nav:hover {
    background-color: var(--rich-black);
    color: var(--parchment);
    border-color: var(--rich-black);
}

.btn-danger {
    color: var(--parchment);
    background-color: var(--link-red);
}

.btn-delete:hover,
.btn-delete:active {
    color: var(--parchment);
    background-color: var(--link-red);
}

/* Post Interaction Buttons */
.btn-like {
    color: var(--link-red);
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: var(--link-red);
    background: transparent;
    border: none;
}

.alert {
    color: var(--rich-black);
    background-color: var(--cmt-bg);
    text-align: center;
}

.modal-content {
    background-color: var(--rich-black);
    color: var(--parchment);
}

/* Set text to be left aligned */
.text-left-align {
    text-align: left;
}

/* Add padding to the top of an element */
.padding-top {
    padding-top: 1rem;
}

/* Add padding to the right of an element */
.padding-right {
    padding-right: 1rem;
}

/* Aligns an element to the right of it's parent */
.push-right {
    float: right;
}

.post-cover-image {
    max-width: inherit;
    padding-top: 1rem;
}