{% extends 'index.html' %}

{% load static %}

<!-- Loads image based on genre -->
{% block loadimg %}
{% if post.genre == 0 %}
<img class="card-img-top" src="{% static 'assets\images\story-covers\adventure-cover.webp' %}" alt="Adventure Cover">
{% endif %}

{% if post.genre == 1 %}
<img class="card-img-top" src="{% static 'assets\images\story-covers\comedy-cover.webp' %}" alt="Comedy Cover">
{% endif %}

{% if post.genre == 2 %}
<img class="card-img-top" src="{% static 'static/assets/images/story-covers/contemporary.webp' %}" alt="Contemporary Cover">
{% endif %}

{% if post.genre == 3 %}
<img class="card-img-top" src="{% static 'assets\images\story-covers\fantasy.webp' %}" alt="Fantasy Cover">
{% endif %}

{% if post.genre == 4 %}
<img class="card-img-top" src="{% static 'assets\images\story-covers\historical-cover.webp' %}" alt="Historical Cover">
{% endif %}

{% if post.genre == 5 %}
<img class="card-img-top" src="{% static 'assets\images\story-covers\horror.webp' %}" alt="Horror Cover">
{% endif %}

{% if post.genre == 6 %}
<img class="card-img-top" src="{% static 'assets\images\story-covers\mystery-cover.webp' %}" alt="Mystery Cover">
{% endif %}

{% if post.genre == 7 %}
<img class="card-img-top" src="{% static 'assets\images\story-covers\romance.webp' %}" alt="Romance Cover">
{% endif %}

{% if post.genre == 8 %}
<img class="card-img-top" src="{% static 'assets\images\story-covers\science-fiction-cover.webp' %}" alt="Science Fiction Cover">
{% endif %}
{% endblock %}